*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

h2, p {
  color: #666666;
  margin: 0; }

h2 span {
  color: #43a5d9; }

h3.have-white-bg {
  color: #43a5d9;
  position: relative;
  z-index: 10;
  display: inline-block; }
  h3.have-white-bg span.white-bar {
    position: absolute;
    width: 100%;
    background-color: #fff;
    bottom: 35px;
    height: 30px;
    left: 0;
    z-index: -1; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

.align-right {
  text-align: right !important; }

.main-container {
  max-width: 1920px;
  margin: 0 auto; }
  .main-container header {
    padding: 0 16px;
    height: 150px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr; }
    .main-container header .header-buttons {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(4, 1fr); }
      .main-container header .header-buttons button {
        cursor: pointer;
        background: none;
        border: none;
        outline: none; }
  .main-container .hero-banner-section {
    background: url(../images/hero-banner-bg-01.png) no-repeat;
    background-position: top left;
    background-color: #e3e7ea;
    height: 636px; }
    .main-container .hero-banner-section .banner-content {
      max-width: 1475px;
      display: grid;
      grid-template-columns: 1fr 490px;
      grid-gap: 195px;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      top: 50%; }
      .main-container .hero-banner-section .banner-content .left-content {
        position: relative;
        top: 62px; }
        .main-container .hero-banner-section .banner-content .left-content p {
          font-size: 30px;
          line-height: 48px;
          color: #666666;
          padding-bottom: 18px;
          border-bottom: 2px solid #fff;
          margin: 0 0 25px; }
        .main-container .hero-banner-section .banner-content .left-content .big-text {
          position: relative;
          margin: 0 0 64px; }
          .main-container .hero-banner-section .banner-content .left-content .big-text h3 {
            color: #666666;
            font-size: 104px;
            line-height: 75px;
            display: inline-block; }
          .main-container .hero-banner-section .banner-content .left-content .big-text p {
            border: none;
            position: absolute;
            margin: 0 0 0 15px;
            font-size: 30px;
            line-height: 41px;
            padding: 0;
            display: inline-block; }
          .main-container .hero-banner-section .banner-content .left-content .big-text p.bottom-zero {
            bottom: 0;
            margin: 0;
            letter-spacing: -7px; }
        .main-container .hero-banner-section .banner-content .left-content button {
          border: none;
          background: none;
          outline: none;
          width: 479px;
          height: 80px;
          color: #fff;
          font-size: 36px;
          position: relative;
          cursor: pointer;
          border-radius: 50px;
          box-shadow: 8px 8px 30px #a7cee4;
          background-image: linear-gradient(-90deg, #43a5d9, #5fc1c7); }
          .main-container .hero-banner-section .banner-content .left-content button img {
            position: absolute;
            right: 34px;
            top: 50%;
            transform: translate(0, -50%); }
      .main-container .hero-banner-section .banner-content .right-content .have-bracket {
        position: relative;
        margin: 0 0 25px; }
        .main-container .hero-banner-section .banner-content .right-content .have-bracket span.bracket-bg {
          width: 13px;
          height: 96px;
          top: 0;
          position: absolute; }
        .main-container .hero-banner-section .banner-content .right-content .have-bracket .left-bracket {
          left: 0;
          background: url(../images/left-bar.png) no-repeat; }
        .main-container .hero-banner-section .banner-content .right-content .have-bracket .right-bracket {
          right: 0;
          background: url(../images/right-bar.png) no-repeat; }
      .main-container .hero-banner-section .banner-content .right-content h3 {
        color: #666666;
        font-size: 100px;
        line-height: 100px; }
        .main-container .hero-banner-section .banner-content .right-content h3 span {
          font-size: 54px;
          line-height: 38px; }
      .main-container .hero-banner-section .banner-content .right-content .price-data {
        margin: 0 0 22px; }
        .main-container .hero-banner-section .banner-content .right-content .price-data h3.have-white-bg {
          font-size: 99px;
          line-height: 99px;
          color: #43a5d9; }
          .main-container .hero-banner-section .banner-content .right-content .price-data h3.have-white-bg span.white-bar {
            margin: 0;
            bottom: 10px; }
        .main-container .hero-banner-section .banner-content .right-content .price-data span {
          margin: 0 0 0 8px;
          font-size: 27px;
          color: #666666; }
        .main-container .hero-banner-section .banner-content .right-content .price-data span.small-text {
          margin: 0;
          font-size: 14px; }
  .main-container .middle-section {
    position: relative;
    padding: 50px 0 100px; }
    .main-container .middle-section .inner-container {
      max-width: 1195px;
      margin: 0 auto; }
    .main-container .middle-section .section-heading {
      position: relative;
      text-align: center; }
      .main-container .middle-section .section-heading h2 {
        font-size: 36px;
        font-weight: 600; }
    .main-container .middle-section p {
      color: #666666;
      line-height: 48px;
      font-size: 24px;
      text-align: center; }
    .main-container .middle-section .have-border {
      margin: 0 0 58px;
      padding: 62px 40px;
      border: 10px solid #e1e1e1; }
      .main-container .middle-section .have-border p {
        text-align: left;
        margin: 0 0 70px; }
      .main-container .middle-section .have-border p.align-right {
        margin: 0; }
  .main-container .surprising-effect-section {
    background: url(../images/rat-bg.png) no-repeat;
    background-position: bottom left;
    padding: 75px 0 150px; }
    .main-container .surprising-effect-section .section-heading {
      margin: 0 0 75px; }
      .main-container .surprising-effect-section .section-heading h2 {
        font-size: 28px; }
    .main-container .surprising-effect-section .chart-data {
      display: grid;
      grid-template-columns: 1fr 520px;
      grid-gap: 50px;
      align-items: center;
      margin: 0 0 35px; }
      .main-container .surprising-effect-section .chart-data .detail-text {
        padding: 20px 40px;
        background: #43a5d9;
        height: 276px;
        border-radius: 20px;
        font-size: 36px;
        line-height: 60px;
        color: #fff;
        box-shadow: -20px 30px 35px #cce7f5; }
    .main-container .surprising-effect-section p.chart-text {
      max-width: 630px;
      font-size: 18px;
      line-height: 30px; }
  .main-container .body-features-section {
    background: url(../images/people-img.png) no-repeat;
    padding: 180px 0 80px;
    background-position: bottom left; }
    .main-container .body-features-section .section-heading {
      margin: 0 0 100px; }
    .main-container .body-features-section .inner-container {
      max-width: 1300px; }
    .main-container .body-features-section .bfs-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 100px; }
      .main-container .body-features-section .bfs-content img {
        grid-column: 1/3;
        justify-self: center; }
    .main-container .body-features-section ul li {
      list-style-type: circle; }
      .main-container .body-features-section ul li p {
        text-align: left;
        font-size: 24px;
        line-height: 48px;
        color: #777777; }
      .main-container .body-features-section ul li p.p-heading {
        font-weight: 600;
        color: #666666; }
  .main-container .nmn-effects-section {
    background: url(../images/effect-bg.png) no-repeat;
    background-position: bottom right;
    background-color: #efefef;
    padding-bottom: 170px; }
    .main-container .nmn-effects-section .inner-container {
      max-width: 1580px; }
    .main-container .nmn-effects-section .section-heading {
      margin: 0 0 75px; }
      .main-container .nmn-effects-section .section-heading h2 {
        font-size: 28px; }
    .main-container .nmn-effects-section .effects-section-content {
      position: relative; }
      .main-container .nmn-effects-section .effects-section-content .girl-img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 0; }
      .main-container .nmn-effects-section .effects-section-content .content-list-detail {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        .main-container .nmn-effects-section .effects-section-content .content-list-detail h3 {
          font-size: 72px;
          line-height: 140px;
          color: #43a5d9; }
        .main-container .nmn-effects-section .effects-section-content .content-list-detail .left-data ul {
          margin: 0 0 80px; }
          .main-container .nmn-effects-section .effects-section-content .content-list-detail .left-data ul li.first-item {
            padding-left: 105px; }
          .main-container .nmn-effects-section .effects-section-content .content-list-detail .left-data ul li.second-item {
            padding-left: 82px; }
          .main-container .nmn-effects-section .effects-section-content .content-list-detail .left-data ul li.third-item {
            padding-left: 68px; }
          .main-container .nmn-effects-section .effects-section-content .content-list-detail .left-data ul li.fourth-item {
            padding-left: 40px; }
          .main-container .nmn-effects-section .effects-section-content .content-list-detail .left-data ul li.fifth-item {
            padding-left: 0; }
        .main-container .nmn-effects-section .effects-section-content .content-list-detail .right-data {
          justify-self: end; }
          .main-container .nmn-effects-section .effects-section-content .content-list-detail .right-data h3 {
            margin: 0 0 80px; }
          .main-container .nmn-effects-section .effects-section-content .content-list-detail .right-data ul li.first-item {
            padding-left: 105px; }
          .main-container .nmn-effects-section .effects-section-content .content-list-detail .right-data ul li.second-item {
            padding-left: 82px; }
          .main-container .nmn-effects-section .effects-section-content .content-list-detail .right-data ul li.third-item {
            padding-left: 68px; }
          .main-container .nmn-effects-section .effects-section-content .content-list-detail .right-data ul li.fourth-item {
            padding-left: 40px; }
          .main-container .nmn-effects-section .effects-section-content .content-list-detail .right-data ul li.fifth-item {
            padding-left: 0; }
      .main-container .nmn-effects-section .effects-section-content ul li {
        font-size: 24px;
        line-height: 120px;
        display: grid;
        grid-template-columns: 80px auto;
        align-items: center;
        grid-gap: 28px;
        color: #666666; }
      .main-container .nmn-effects-section .effects-section-content ul li.less-spacing {
        letter-spacing: -4px; }
  .main-container .patients-impression-section {
    padding: 120px 0;
    background-color: #f6f6f6; }
    .main-container .patients-impression-section .section-heading {
      margin: 0 0 40px; }
      .main-container .patients-impression-section .section-heading h2 {
        font-size: 28px; }
    .main-container .patients-impression-section p {
      margin: 0 0 125px; }
    .main-container .patients-impression-section .reviews-section {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 268px 268px 268px 268px;
      justify-content: center; }
      .main-container .patients-impression-section .reviews-section .single-review {
        border-radius: 12px;
        background-color: #fff;
        display: grid;
        grid-gap: 15px;
        grid-template-rows: 240px auto auto; }
        .main-container .patients-impression-section .reviews-section .single-review .img-icon {
          background-color: #e6e6e6;
          display: grid;
          align-items: end;
          justify-items: center;
          border-radius: 12px 12px 0 0; }
        .main-container .patients-impression-section .reviews-section .single-review p {
          padding: 0 15px;
          font-size: 20px;
          line-height: 30px;
          margin: 0;
          min-height: 50px; }
        .main-container .patients-impression-section .reviews-section .single-review .date-time {
          margin: 0 0 20px;
          padding: 0 10px;
          display: grid;
          grid-template-columns: 1fr 2.4fr;
          grid-gap: 16px; }
          .main-container .patients-impression-section .reviews-section .single-review .date-time .r-count {
            font-size: 60px;
            line-height: 30px;
            color: #43a5d9;
            font-weight: 600; }
          .main-container .patients-impression-section .reviews-section .single-review .date-time .time {
            text-align: left;
            font-size: 20px;
            line-height: 30px; }
          .main-container .patients-impression-section .reviews-section .single-review .date-time p {
            padding: 0;
            min-height: initial; }
  .main-container .section-with-img {
    padding: 100px 0; }
    .main-container .section-with-img .section-heading {
      margin: 0 0 48px; }
    .main-container .section-with-img p {
      margin: 0 0 100px; }
    .main-container .section-with-img .chart-img {
      text-align: center; }
      .main-container .section-with-img .chart-img img {
        margin: 0 0 50px; }
      .main-container .section-with-img .chart-img p {
        margin: 0; }
  .main-container .section-with-img.aging-section {
    background: url(../images/aging-section-bg.png) no-repeat;
    background-size: cover; }
  .main-container .longevity-section {
    background: url(../images/longivity-bg.png) no-repeat;
    background-position: bottom right;
    background-color: #f6f6f6; }
    .main-container .longevity-section p {
      margin: 0 0 10px; }
    .main-container .longevity-section .chart-img {
      text-align: center; }
      .main-container .longevity-section .chart-img img {
        margin: 0; }
  .main-container .middle-logo-section {
    padding: 150px 0; }
    .main-container .middle-logo-section h2 {
      font-weight: normal;
      font-size: 24px;
      line-height: 60px; }
    .main-container .middle-logo-section .section-heading {
      margin: 0 0 80px; }
    .main-container .middle-logo-section .middle-logo {
      text-align: center; }
  .main-container .reservation-section {
    background-color: #43a5d9; }
    .main-container .reservation-section .inner-container {
      max-width: 850px; }
    .main-container .reservation-section h2 {
      color: #fff; }
    .main-container .reservation-section .section-heading {
      margin: 0 0 45px; }
    .main-container .reservation-section .buttons-list {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr; }
      .main-container .reservation-section .buttons-list button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer; }
  .main-container .map-address-section {
    padding: 0;
    display: grid;
    grid-template-columns: 900px 1fr;
    grid-template-rows: 666px; }
    .main-container .map-address-section h2 {
      text-align: center;
      font-size: 48px;
      color: #43a5d9;
      line-height: 48px;
      margin: 0 0 55px; }
    .main-container .map-address-section p {
      margin: 0;
      text-align: left;
      font-size: 24px;
      line-height: 42px; }
    .main-container .map-address-section p.bold-text {
      font-weight: bold;
      margin: 0 0 18px;
      font-size: 30px; }
    .main-container .map-address-section .contact-info {
      padding: 35px 110px; }
    .main-container .map-address-section ul li {
      font-size: 20px;
      line-height: 48px;
      display: grid;
      grid-template-columns: 25px auto;
      grid-gap: 28px;
      align-items: center; }
      .main-container .map-address-section ul li img {
        margin-right: 25px; }
    .main-container .map-address-section .map-box {
      background: #e8e8e8; }
  .main-container .building-section {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1.14fr;
    grid-template-rows: 822px; }
    .main-container .building-section img {
      width: 100%;
      height: 100%; }
  .main-container .team-section {
    padding: 68px 0;
    background: #f6f6f6; }
    .main-container .team-section .inner-container {
      max-width: 972px;
      margin: 0 auto; }
    .main-container .team-section .members-section {
      display: grid;
      grid-gap: 30px; }
      .main-container .team-section .members-section .single-member {
        background-color: #fff;
        display: grid;
        grid-template-columns: 300px auto;
        grid-gap: 0 130px;
        padding: 70px;
        border: 2px solid #43a5d9;
        border-radius: 16px; }
        .main-container .team-section .members-section .single-member ul li {
          font-size: 18px;
          line-height: 36px;
          color: #666666; }
        .main-container .team-section .members-section .single-member ul li.bold-text {
          font-weight: 600; }
        .main-container .team-section .members-section .single-member p {
          text-align: left;
          width: 265px;
          font-size: 18px;
          line-height: 36px;
          color: #666666; }
          .main-container .team-section .members-section .single-member p span {
            font-size: 30px; }
  .main-container .vegitables-section {
    background: url(../images/veg-bg.png) no-repeat;
    background-position: bottom right;
    padding: 50px 0;
    background-color: #f6f6f6; }
    .main-container .vegitables-section p {
      color: #666666;
      font-size: 30px;
      line-height: 48px; }
    .main-container .vegitables-section p.small-heading-text {
      font-size: 14px; }
    .main-container .vegitables-section .arrow-down {
      margin: 0 0 10px;
      text-align: center; }
    .main-container .vegitables-section .veg-grid-section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 35px;
      margin: 0 0 40px; }
      .main-container .vegitables-section .veg-grid-section .single-item {
        display: grid;
        justify-items: center; }
        .main-container .vegitables-section .veg-grid-section .single-item p, .main-container .vegitables-section .veg-grid-section .single-item span {
          font-size: 24px;
          line-height: 48px;
          color: #666666; }
        .main-container .vegitables-section .veg-grid-section .single-item p {
          font-weight: bold; }
  .main-container .nmn-therapy-section {
    padding: 0;
    display: grid;
    grid-template-columns: 770px 1fr;
    grid-template-rows: 700px; }
    .main-container .nmn-therapy-section .therapy-detail {
      padding: 0 120px;
      background: #eaf3fa; }
    .main-container .nmn-therapy-section .therapy-img img {
      width: 100%;
      height: 100%; }
    .main-container .nmn-therapy-section h2 {
      color: white;
      font-size: 80px;
      line-height: 80px;
      margin: 0 0 100px; }
    .main-container .nmn-therapy-section .grid-box {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-items: center; }
    .main-container .nmn-therapy-section .t-white-box {
      width: 500px;
      padding: 12px;
      background: #fff; }
      .main-container .nmn-therapy-section .t-white-box p {
        font-size: 18px;
        line-height: 30px;
        color: #777777; }
      .main-container .nmn-therapy-section .t-white-box span {
        color: #43a5d9;
        font-size: 18px; }
      .main-container .nmn-therapy-section .t-white-box h2 {
        color: #43a5d9;
        font-size: 22px;
        line-height: 22px;
        margin: 0; }
      .main-container .nmn-therapy-section .t-white-box h3 {
        font-size: 12px;
        color: #777777;
        margin: 0 0 15px; }
      .main-container .nmn-therapy-section .t-white-box p.price {
        font-weight: bold;
        color: #43a5d9;
        font-size: 60px;
        line-height: 48px; }
        .main-container .nmn-therapy-section .t-white-box p.price span {
          font-weight: normal;
          font-size: 24px; }
    .main-container .nmn-therapy-section .t-white-box.margin-45 {
      margin: 0 0 45px; }
    .main-container .nmn-therapy-section .t-white-box.margin-55 {
      margin: 0 0 55px; }
  .main-container .faq-section {
    padding: 70px 0;
    background-color: #f6f6f6; }
    .main-container .faq-section .inner-container {
      max-width: 1330px;
      margin: 0 auto; }
    .main-container .faq-section .all-questions-section {
      background-color: #fff;
      border-radius: 12px;
      padding: 75px; }
      .main-container .faq-section .all-questions-section .single-question {
        margin: 0 0 50px; }
        .main-container .faq-section .all-questions-section .single-question h2, .main-container .faq-section .all-questions-section .single-question p {
          font-size: 24px;
          line-height: 48px;
          text-align: left; }
        .main-container .faq-section .all-questions-section .single-question h2 {
          color: #666666; }
        .main-container .faq-section .all-questions-section .single-question p {
          color: #777777; }
  .main-container footer {
    height: 113px;
    background-color: #fff;
    padding: 0 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr; }
    .main-container footer p {
      font-size: 16px;
      color: #777777;
      justify-self: end; }

/*# sourceMappingURL=style.css.map */
