*, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

h2, p {
  color: #666666;
  margin: 0; }

h2 span {
  color: #43a5d9; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

.align-right {
  text-align: right !important; }

.main-container {
  max-width: 1920px;
  margin: 0 auto; }
  .main-container header {
    padding: 0 16px;
    height: 150px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr; }
    .main-container header .header-buttons {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(4, 1fr); }
      .main-container header .header-buttons button {
        cursor: pointer;
        background: none;
        border: none;
        outline: none; }
  .main-container .middle-section {
    padding: 50px 0 100px; }
    .main-container .middle-section .inner-container {
      max-width: 1177px;
      margin: 0 auto; }
    .main-container .middle-section .section-heading {
      position: relative;
      text-align: center; }
      .main-container .middle-section .section-heading h2 {
        font-size: 36px;
        font-weight: 600; }
    .main-container .middle-section p {
      color: #666666;
      line-height: 48px;
      font-size: 24px;
      text-align: center; }
    .main-container .middle-section .have-border {
      margin: 0 0 58px;
      padding: 62px 40px;
      border: 10px solid #e1e1e1; }
      .main-container .middle-section .have-border p {
        text-align: left;
        margin: 0 0 70px; }
      .main-container .middle-section .have-border p.align-right {
        margin: 0; }
  .main-container .surprising-effect-section .section-heading {
    margin: 0 0 75px; }
    .main-container .surprising-effect-section .section-heading h2 {
      font-size: 28px; }
  .main-container .body-features-section {
    background: url(../images/people-img.png) no-repeat;
    padding: 180px 0 80px;
    background-position: bottom left; }
    .main-container .body-features-section .section-heading {
      margin: 0 0 100px; }
    .main-container .body-features-section .inner-container {
      max-width: 1300px; }
    .main-container .body-features-section .bfs-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 50px; }
      .main-container .body-features-section .bfs-content img {
        grid-column: 1/3;
        justify-self: center; }
    .main-container .body-features-section ul li {
      list-style-type: circle; }
      .main-container .body-features-section ul li p {
        text-align: left;
        font-size: 24px;
        line-height: 48px;
        color: #777777; }
      .main-container .body-features-section ul li p.p-heading {
        font-weight: 600;
        color: #666666; }
  .main-container .nmn-effects-section {
    background-color: #efefef; }
    .main-container .nmn-effects-section .section-heading {
      margin: 0 0 75px; }
      .main-container .nmn-effects-section .section-heading h2 {
        font-size: 28px; }
  .main-container .patients-impression-section {
    padding: 120px 0;
    background-color: #f6f6f6; }
    .main-container .patients-impression-section .section-heading {
      margin: 0 0 40px; }
      .main-container .patients-impression-section .section-heading h2 {
        font-size: 28px; }
    .main-container .patients-impression-section p {
      margin: 0 0 125px; }
    .main-container .patients-impression-section .reviews-section {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 268px 268px 268px 268px;
      justify-content: center; }
      .main-container .patients-impression-section .reviews-section .single-review {
        border-radius: 12px;
        background-color: #fff;
        display: grid;
        grid-gap: 15px;
        grid-template-rows: 240px auto auto; }
        .main-container .patients-impression-section .reviews-section .single-review .img-icon {
          background-color: #e6e6e6;
          display: grid;
          align-items: end;
          justify-items: center;
          border-radius: 12px 12px 0 0; }
        .main-container .patients-impression-section .reviews-section .single-review p {
          padding: 0 15px;
          font-size: 20px;
          line-height: 30px;
          margin: 0;
          min-height: 50px; }
        .main-container .patients-impression-section .reviews-section .single-review .date-time {
          margin: 0 0 20px;
          padding: 0 10px;
          display: grid;
          grid-template-columns: 1fr 2.4fr;
          grid-gap: 16px; }
          .main-container .patients-impression-section .reviews-section .single-review .date-time .r-count {
            font-size: 60px;
            line-height: 30px;
            color: #43a5d9;
            font-weight: 600; }
          .main-container .patients-impression-section .reviews-section .single-review .date-time .time {
            text-align: left;
            font-size: 20px;
            line-height: 30px; }
          .main-container .patients-impression-section .reviews-section .single-review .date-time p {
            padding: 0;
            min-height: initial; }
  .main-container .section-with-img {
    padding: 100px 0; }
    .main-container .section-with-img .section-heading {
      margin: 0 0 48px; }
    .main-container .section-with-img p {
      margin: 0 0 100px; }
    .main-container .section-with-img .chart-img {
      text-align: center; }
      .main-container .section-with-img .chart-img img {
        margin: 0 0 50px; }
      .main-container .section-with-img .chart-img p {
        margin: 0; }
  .main-container .section-with-img.aging-section {
    background: url(../images/aging-section-bg.png) no-repeat;
    background-size: cover; }
  .main-container .longevity-section {
    background: url(../images/longivity-bg.png) no-repeat;
    background-position: bottom right;
    background-color: #f6f6f6; }
    .main-container .longevity-section p {
      margin: 0 0 10px; }
    .main-container .longevity-section .chart-img {
      text-align: center; }
      .main-container .longevity-section .chart-img img {
        margin: 0; }
  .main-container .middle-logo-section {
    padding: 150px 0; }
    .main-container .middle-logo-section h2 {
      font-weight: normal;
      font-size: 24px;
      line-height: 60px; }
    .main-container .middle-logo-section .section-heading {
      margin: 0 0 80px; }
    .main-container .middle-logo-section .middle-logo {
      text-align: center; }
  .main-container .reservation-section {
    background-color: #43a5d9; }
    .main-container .reservation-section .inner-container {
      max-width: 850px; }
    .main-container .reservation-section h2 {
      color: #fff; }
    .main-container .reservation-section .section-heading {
      margin: 0 0 45px; }
    .main-container .reservation-section .buttons-list {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr; }
      .main-container .reservation-section .buttons-list button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer; }
  .main-container .map-address-section {
    padding: 0;
    display: grid;
    grid-template-columns: 900px 1fr;
    grid-template-rows: 666px; }
    .main-container .map-address-section h2 {
      text-align: center;
      font-size: 48px;
      color: #43a5d9;
      line-height: 48px;
      margin: 0 0 55px; }
    .main-container .map-address-section p {
      margin: 0;
      text-align: left;
      font-size: 24px;
      line-height: 42px; }
    .main-container .map-address-section p.bold-text {
      font-weight: bold;
      margin: 0 0 18px;
      font-size: 30px; }
    .main-container .map-address-section .contact-info {
      padding: 35px 110px; }
    .main-container .map-address-section ul li {
      font-size: 20px;
      line-height: 48px; }
      .main-container .map-address-section ul li img {
        margin-right: 25px; }
    .main-container .map-address-section .map-box {
      background: #f6f6f6; }
  .main-container .building-section {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1.14fr;
    grid-template-rows: 822px; }
    .main-container .building-section img {
      width: 100%;
      height: 100%; }
  .main-container .team-section {
    padding: 68px 0; }
    .main-container .team-section .inner-container {
      max-width: 972px;
      margin: 0 auto; }
    .main-container .team-section .members-section {
      display: grid;
      grid-gap: 30px; }
      .main-container .team-section .members-section .single-member {
        display: grid;
        grid-template-columns: 300px auto;
        grid-gap: 0 130px;
        padding: 70px;
        border: 2px solid #43a5d9;
        border-radius: 16px; }
        .main-container .team-section .members-section .single-member ul li {
          font-size: 18px;
          line-height: 36px;
          color: #666666; }
        .main-container .team-section .members-section .single-member ul li.bold-text {
          font-weight: 600; }
        .main-container .team-section .members-section .single-member p {
          text-align: left;
          width: 265px;
          font-size: 18px;
          line-height: 36px;
          color: #666666; }
          .main-container .team-section .members-section .single-member p span {
            font-size: 30px; }
  .main-container .faq-section {
    padding: 70px 0;
    background-color: #f6f6f6; }
    .main-container .faq-section .inner-container {
      max-width: 1330px;
      margin: 0 auto; }
    .main-container .faq-section .all-questions-section {
      background-color: #fff;
      border-radius: 12px;
      padding: 75px; }
      .main-container .faq-section .all-questions-section .single-question {
        margin: 0 0 50px; }
        .main-container .faq-section .all-questions-section .single-question h2, .main-container .faq-section .all-questions-section .single-question p {
          font-size: 24px;
          line-height: 48px;
          text-align: left; }
        .main-container .faq-section .all-questions-section .single-question h2 {
          color: #666666; }
        .main-container .faq-section .all-questions-section .single-question p {
          color: #777777; }
  .main-container footer {
    height: 113px;
    background-color: #fff;
    padding: 0 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr; }
    .main-container footer p {
      font-size: 16px;
      color: #777777;
      justify-self: end; }

/*# sourceMappingURL=style.css.map */
