*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2, p {
    color: #666666;
    margin: 0;
}
h2 {
    span {
        color: #43a5d9;
    }
}

h3.have-white-bg {
    color: #43a5d9;
    position: relative;
    z-index: 10;
    display: inline-block;
    span {
        position: absolute;
        width: 100%;
        background-color: #fff;
        bottom: 35px;
        height: 30px;
        left: 0;
        z-index: -1;
    }
}
ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}
.align-right {
    text-align: right !important;
}

.main-container {
    max-width: 1920px;
    margin: 0 auto;

    header {
        padding: 0 16px;
        height: 150px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr;
        .header-buttons {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(4, 1fr);
            button {
                cursor: pointer;
                background: none;
                border: none;
                outline: none;
            }
        }
    }
    
    .middle-section {
        padding: 50px 0 100px;
        .inner-container {
            max-width: 1195px;
            margin: 0 auto;
        }
        .section-heading {
            position: relative;
            text-align: center;
            h2 {
                font-size: 36px;
                font-weight: 600;
            }
            span.border-bottom {
        
            }
        }
        p {
            color: #666666;
            line-height: 48px;
            font-size: 24px;
            text-align: center;
        }
        .have-border {
            margin: 0 0 58px;
            padding: 62px 40px;
            border: 10px solid #e1e1e1;
            p {
                text-align: left;
                margin: 0 0 70px;
            }
            p.align-right {
                margin: 0;
            }
        }
    }

    .surprising-effect-section {
        background: url(../images/rat-bg.png) no-repeat;
        background-position: bottom left;
        padding: 75px 0 150px;
        .section-heading {
            margin: 0 0 75px;
            h2 {
                font-size: 28px;
            }
        }
        .chart-data {
            display: grid;
            grid-template-columns: 1fr 520px;
            grid-gap: 50px;
            align-items: center;
            margin: 0 0 35px;
            .detail-text {
                padding: 20px 40px;
                background: #43a5d9;
                height: 276px;
                border-radius: 20px;
                font-size: 36px;
                line-height: 60px;
                color: #fff;
                box-shadow: -20px 30px 35px #cce7f5;
            }
        }
        p.chart-text {
            max-width: 630px;
            font-size: 18px;
            line-height: 30px;
        }
    }

    .body-features-section {
        background: url(../images/people-img.png) no-repeat;
        padding: 180px 0 80px;
        background-position: bottom left; 
        .section-heading {
            margin: 0 0 100px;
        }      
        .inner-container {
            max-width: 1300px;
        }
        .bfs-content {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 100px;

            img {
                grid-column: 1/3;
                justify-self: center;
            }
        }
        ul {
            li {
                list-style-type: circle;
                p {
                    text-align: left;
                    font-size: 24px;
                    line-height: 48px;
                    color: #777777;
                }
                p.p-heading {
                    font-weight: 600;
                    color: #666666;
                }
            }
        }
    }

    .nmn-effects-section {
        background: url(../images/effect-bg.png) no-repeat;
        background-position: bottom right;
        background-color: #efefef;
        padding-bottom: 170px;
        .inner-container {
            max-width: 1580px;
        }
        .section-heading {
            margin: 0 0 75px;
            h2 {
                font-size: 28px;
            }
        }
        .effects-section-content {
            position: relative;
            .girl-img {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                top: 0;
            }

            .content-list-detail {
                display: grid;
                grid-template-columns: 1fr 1fr;
                h3 {
                    font-size: 72px;
                    line-height: 140px;
                    color: #43a5d9;
                }
                .left-data {
                    ul {
                        margin: 0 0 80px;
                        li.first-item { padding-left: 105px; }
                        li.second-item { padding-left: 82px; }
                        li.third-item { padding-left: 68px; }
                        li.fourth-item { padding-left: 40px; }
                        li.fifth-item { padding-left: 0; }
                    }
                }
                .right-data {
                    justify-self: end;
                    h3 {
                        margin: 0 0 80px;
                    }
                    ul {
                        li.first-item { padding-left: 105px; }
                        li.second-item { padding-left: 82px; }
                        li.third-item { padding-left: 68px; }
                        li.fourth-item { padding-left: 40px; }
                        li.fifth-item { padding-left: 0; }
                    }
                }
            }

            ul {
                li {
                    font-size: 24px;
                    line-height: 120px;
                    display: grid;
                    grid-template-columns: 80px auto;
                    align-items: center;
                    grid-gap: 28px;
                    color: #666666;
                }
                li.less-spacing {
                    letter-spacing: -4px;
                }
            }
        }
    }

    .patients-impression-section {
        padding: 120px 0;
        background-color: #f6f6f6;
        .section-heading {
            margin: 0 0 40px;
            h2 {
                font-size: 28px;
            }
        }
        p {
            margin: 0 0 125px;
        }

        .reviews-section {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 268px 268px 268px 268px;
            justify-content: center;
            .single-review {
                border-radius: 12px;
                background-color: #fff;;
                display: grid;
                grid-gap: 15px;
                grid-template-rows: 240px auto auto;
                .img-icon {
                    background-color: #e6e6e6;
                    display: grid;
                    align-items: end;
                    justify-items: center;
                    border-radius: 12px 12px 0 0;
                }
                p {
                    padding: 0 15px;
                    font-size: 20px;
                    line-height: 30px;
                    margin: 0;
                    min-height: 50px;
                }
                .date-time {
                    margin: 0 0 20px;
                    padding: 0 10px;
                    display: grid;
                    grid-template-columns: 1fr 2.4fr;
                    grid-gap: 16px;
                    .r-count {
                        font-size: 60px;
                        line-height: 30px;
                        color: #43a5d9;
                        font-weight: 600;
                    }
                    .time {
                        text-align: left;
                        font-size: 20px;
                        line-height: 30px;
                    }
                    p {
                        padding: 0;
                        min-height: initial;
                    }
                }
            }
        }
    }

    .section-with-img {
        padding: 100px 0;
        .section-heading {
            margin: 0 0 48px;
        }
        p {
            margin: 0 0 100px;
        }
        .chart-img {
            text-align: center;
            img {
                margin: 0 0 50px;
            }
            p {
                margin: 0;
            }
        }
    }
    .section-with-img.aging-section {
        background: url(../images/aging-section-bg.png) no-repeat;
        background-size: cover;
    }


    .longevity-section {
        background: url(../images/longivity-bg.png) no-repeat;
        background-position: bottom right;
        background-color: #f6f6f6;
        p {
            margin: 0 0 10px;
        }
        .chart-img {
            text-align: center;
            img {
                margin: 0;
            }
        }
    }

    .middle-logo-section {
        padding: 150px 0;
        h2 {
            font-weight: normal;
            font-size: 24px;
            line-height: 60px;
        }    
        .section-heading {
            margin: 0 0 80px;
        }
        .middle-logo {
            text-align: center;
        }
    }

    .reservation-section {
        background-color: #43a5d9;
        .inner-container {
            max-width: 850px;
        }
        h2 {
            color: #fff;
        }
        .section-heading {
            margin: 0 0 45px;
        }
        .buttons-list {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr;
            button {
                background: none;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }

    .map-address-section {
        padding: 0;
        display: grid;
        grid-template-columns: 900px 1fr;
        grid-template-rows: 666px;
        h2 {
            text-align: center;
            font-size: 48px;
            color: #43a5d9;
            line-height: 48px;
            margin: 0 0 55px;
        }
        p {
            margin: 0;
            text-align: left;
            font-size: 24px;
            line-height: 42px;
        }
        p.bold-text {
            font-weight: bold;
            margin: 0 0 18px;
            font-size: 30px;
        }
        .contact-info {
            padding: 35px 110px;
        }
        ul {
            li {
                font-size: 20px;
                line-height: 48px;
                img {
                    margin-right: 25px;
                }
            }
        }
        .map-box {
            background: #f6f6f6;
        }
    }

    .building-section {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1.14fr;
        grid-template-rows: 822px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .team-section {
        padding: 68px 0;
        .inner-container {
            max-width: 972px;
            margin: 0 auto;
        }
        .members-section {
            display: grid;
            grid-gap: 30px;
            .single-member {
                display: grid;
                grid-template-columns: 300px auto;
                grid-gap: 0 130px;
                padding: 70px;
                border: 2px solid #43a5d9;
                border-radius: 16px;
                ul {
                    li {
                        font-size: 18px;
                        line-height: 36px;
                        color: #666666;
                    }
                    li.bold-text {
                        font-weight: 600;
                    }
                }
                p {
                    text-align: left;
                    width: 265px;
                    font-size: 18px;
                    line-height: 36px;
                    color: #666666;
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .vegitables-section {
        background: url(../images/veg-bg.png) no-repeat;
        background-position: bottom right;
        padding: 50px 0;
        background-color: #f6f6f6;

        p {
            color: #666666;
            font-size: 30px;
            line-height: 48px;
        }
        p.small-heading-text {
            font-size: 14px;
        }
        .arrow-down {
            margin: 0 0 10px;
            text-align: center;
        }
        .veg-grid-section {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 35px;
            margin: 0 0 40px;
            .single-item {
                display: grid;
                justify-items: center;
                
                p, span {
                    font-size: 24px;
                    line-height: 48px;
                    color: #666666;
                }
                p {
                    font-weight: bold;
                }
            }
        }
    }

    .nmn-therapy-section {
        padding: 0;
        display: grid;
        grid-template-columns: 770px 1fr;
        grid-template-rows: 700px;
        .therapy-detail {
            padding: 0 120px;
            background: #eaf3fa;
        }
        .therapy-img {
            img {
                width: 100%;
                height: 100%;
            }
        }
        h2 {
            color: white;
            font-size: 80px;
            line-height: 80px;
            margin: 0 0 100px;
        }
        .grid-box {
            display: grid;
            grid-template-columns: 1fr 2fr;
            justify-items: center;
        }
        .t-white-box {
            width: 500px;
            padding: 12px;
            background: #fff;
            p {
                font-size: 18px;
                line-height: 30px;
                color: #777777;
            }
            span {
                color: #43a5d9;
                font-size: 18px;
            }
            h2 {
                color: #43a5d9;
                font-size: 22px;
                line-height: 22px;
                margin: 0;
            }
            h3 {
                font-size: 12px;
                color: #777777;
                margin: 0 0 15px;
            }
            p.price {
                font-weight: bold;
                color: #43a5d9;
                font-size: 60px;
                line-height: 48px;
                span {
                    font-weight: normal;
                    font-size: 24px;
                }
            }
        }
        .t-white-box.margin-45 {
            margin: 0 0 45px;
        }
        .t-white-box.margin-55 {
            margin: 0 0 55px;
        }
    }

    .faq-section {
        padding: 70px 0;
        background-color: #f6f6f6;
        .inner-container {
            max-width: 1330px;
            margin: 0 auto;
        }
        .all-questions-section {
            background-color: #fff;
            border-radius: 12px;
            padding: 75px;
            .single-question {
                margin: 0 0 50px;
                h2, p {
                    font-size: 24px;
                    line-height: 48px;
                    text-align: left;
                }
                h2 {
                    color: #666666;
                }
                p {
                    color: #777777;
                }
            }
        }
    }

    footer {
        height: 113px;
        background-color: #fff;
        padding: 0 15px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr;
        p {
            font-size: 16px;
            color: #777777;
            justify-self: end;
        }
    }
}