*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2, p {
    color: #666666;
    margin: 0;
}
h2 {
    span {
        color: #43a5d9;
    }
}
ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}
.align-right {
    text-align: right !important;
}

.main-container {
    max-width: 1920px;
    margin: 0 auto;

    header {
        padding: 0 16px;
        height: 150px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr;
        .header-buttons {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: repeat(4, 1fr);
            button {
                background: none;
                border: none;
                outline: none;
            }
        }
    }
    
    .middle-section {
        padding: 50px 0 100px;
        .inner-container {
            max-width: 1177px;
            margin: 0 auto;
        }
        .section-heading {
            position: relative;
            text-align: center;
            h2 {
                font-size: 36px;
                font-weight: 600;
            }
            span.border-bottom {
        
            }
        }
        p {
            color: #666666;
            line-height: 48px;
            font-size: 24px;
            text-align: center;
        }
        .have-border {
            margin: 0 0 58px;
            padding: 62px 40px;
            border: 10px solid #e1e1e1;
            p {
                text-align: left;
                margin: 0 0 70px;
            }
            p.align-right {
                margin: 0;
            }
        }
    }

    .surprising-effect-section {
        .section-heading {
            margin: 0 0 75px;
            h2 {
                font-size: 28px;
            }
        }
    }

    .body-features-section {
        background: url(../images/people-img.png) no-repeat;
        padding: 180px 0 80px;
        background-position: bottom left; 
        .section-heading {
            margin: 0 0 100px;
        }      
        .inner-container {
            max-width: 1300px;
        }
        .bfs-content {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-gap: 50px;

            img {
                grid-column: 1/3;
                justify-self: center;
            }
        }
        ul {
            li {
                list-style-type: circle;
                p {
                    text-align: left;
                    font-size: 24px;
                    line-height: 48px;
                    color: #777777;
                }
                p.p-heading {
                    font-weight: 600;
                    color: #666666;
                }
            }
        }
    }

    .nmn-effects-section {
        background-color: #efefef;
        .section-heading {
            margin: 0 0 75px;
            h2 {
                font-size: 28px;
            }
        }
    }

    .patients-impression-section {
        padding: 120px 0;
        background-color: #f6f6f6;
        .section-heading {
            margin: 0 0 40px;
            h2 {
                font-size: 28px;
            }
        }
        p {
            margin: 0 0 125px;
        }

        .reviews-section {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 268px 268px 268px 268px;
            justify-content: center;
            .single-review {
                border-radius: 12px;
                background-color: #fff;;
                display: grid;
                grid-gap: 15px;
                grid-template-rows: 240px auto auto;
                .img-icon {
                    background-color: #e6e6e6;
                    display: grid;
                    align-items: end;
                    justify-items: center;
                    border-radius: 12px 12px 0 0;
                }
                p {
                    padding: 0 15px;
                    font-size: 20px;
                    line-height: 30px;
                    margin: 0;
                    min-height: 50px;
                }
                .date-time {
                    margin: 0 0 20px;
                    padding: 0 10px;
                    display: grid;
                    grid-template-columns: 1fr 2.4fr;
                    grid-gap: 16px;
                    .r-count {
                        font-size: 60px;
                        line-height: 30px;
                        color: #43a5d9;
                        font-weight: 600;
                    }
                    .time {
                        text-align: left;
                        font-size: 20px;
                        line-height: 30px;
                    }
                    p {
                        padding: 0;
                        min-height: initial;
                    }
                }
            }
        }
    }

    .building-section {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1.14fr;
        grid-template-rows: 822px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .team-section {
        padding: 68px 0;
        .inner-container {
            max-width: 972px;
            margin: 0 auto;
        }
        .members-section {
            display: grid;
            grid-gap: 30px;
            .single-member {
                display: grid;
                grid-template-columns: 300px auto;
                grid-gap: 0 130px;
                padding: 70px;
                border: 2px solid #43a5d9;
                border-radius: 16px;
                ul {
                    li {
                        font-size: 18px;
                        line-height: 36px;
                        color: #666666;
                    }
                    li.bold-text {
                        font-weight: 600;
                    }
                }
                p {
                    text-align: left;
                    width: 265px;
                    font-size: 18px;
                    line-height: 36px;
                    color: #666666;
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .faq-section {
        padding: 70px 0;
        background-color: #f6f6f6;
        .inner-container {
            max-width: 1330px;
            margin: 0 auto;
        }
        .all-questions-section {
            background-color: #fff;
            border-radius: 12px;
            padding: 75px;
            .single-question {
                margin: 0 0 50px;
                h2, p {
                    font-size: 24px;
                    line-height: 48px;
                    text-align: left;
                }
                h2 {
                    color: #666666;
                }
                p {
                    color: #777777;
                }
            }
        }
    }

    footer {
        height: 113px;
        background-color: #fff;
        padding: 0 15px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr;
        p {
            font-size: 16px;
            color: #777777;
            justify-self: end;
        }
    }
}